*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    padding: 5px;
    background: url('../img/back3.png') no-repeat   ;
    background-size: cover;
    
}
li {
    list-style-type: none; 
}
.conteiner{
    margin: 0 auto;
}
.btn {
    display: block;
    padding: 5px;
    height: 14vh;
    width: 40vw;
    margin-top: 4vh;
    font-size: 6vW;
    background-color: #ffebcd95;
    border-radius: 2vh;
    color: white;
}
.btns{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
#backgr{
    display: flex;
    margin-top: 4vh;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
.checkbox_contejner{
    margin-top: 14vh;
    display: flex;
    justify-content: center;
    width: 40vw;
    height: 5vh;
    transform: scale(2);
}
.checkbox.style-e {
    display: inline-block;
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  .checkbox.style-e input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkbox.style-e input:checked ~ .checkbox__checkmark {
    background-color: green;
  }
  .checkbox.style-e input:checked ~ .checkbox__checkmark:after {
    left: 21px;
  }
  .checkbox.style-e:hover input ~ .checkbox__checkmark {
    background-color: red;
  }
  .checkbox.style-e:hover input:checked ~ .checkbox__checkmark {
    background-color:green;
  }
  .checkbox.style-e .checkbox__checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 22px;
    width: 40px;
    background-color: red;
    transition: background-color 0.25s ease;
    border-radius: 11px;
  }
  .checkbox.style-e .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 16px;
    height: 16px;
    display: block;
    background-color: #fff;
    border-radius: 50%;
    transition: left 0.25s ease;
  }
  .checkbox.style-e .checkbox__body {
    color: #333;
    line-height: 1.4;
    font-size: 16px;
    transition: color 0.25s ease;
  }
  .soundCheckBox{
    font-size: 4vh;
    color: white;
    margin-top: -1vh;
  }
  .pravila{
    width: 80vw;
    padding: 5vw;
    font-size: 4vh;
    text-align: center;
    color: white;
    background-color: #ffebcd95;
    border-radius: 2vh;
    margin-top: 10vh;
  }
  #game{
    position: relative;
    margin-top: 1vh;
    display: inline-block;
    text-align: center;
    padding: 20px;
    background: url('../img/column.png') left repeat-y,
                url('../img/column.png') right repeat-y,
                url('../img/beam.png') top repeat-x,
                url('../img/beam.png') bottom repeat-x
    ;
  }
  #app{
    text-align: center;
  }
  .btnCanvas{
    width: 30vw;
    height: 8vh;
    border-radius: 2vh;
    background-color: #ffebcd95;
    font-size: 2vw;
  }
  canvas{
    margin-top: 1vh;
    width: 85vw;
    height: 48vw;
    background-size: 100% 100%;
  }
  .btn_level{
    width: 10vw;
    height: 10vw;
    margin: 2vw ;
    border-radius: 50%;
    background-color: #ffebcd95;
    font-size: 2vw;
  }
  .level_complite{
    position: absolute;
    background: rgba(51, 51, 51, 0.394);
    top: 10%;
    left: 25%;
    border-radius: 2vw;
    animation-duration: 3s;
    animation-name: opacity;
  }
  @keyframes opacity {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .level_complite_star{
    display: flex;
    justify-content: center
  }
  .star_level{
    width: 10vw;
    height: 15vw;
    margin: 0.5vw;
    
    border-radius: 1vw;
  }
  .star_level > div {
    margin: auto;
    width: 8vw;
    height: 9vW;
    background: url(../img/stars.png) no-repeat;
    background-size: 26vw;
  }
  .btnStar{
    border-radius: 2vh;
    background-color: #ffebcd95;
    width: 10vw;
    height: 3vw;
    margin-top: 4vw;
    background: linear-gradient(165deg,rgba(255, 215, 0, 0.7),#fff,rgba(255, 215, 0, 0.7)  ) ;
    font-size: 2vw;
    color: rgb(67, 32, 32);
  }
  .levels{
    padding: 15vw;
    padding-bottom: 2vw;
  }
  .starGold{
    width: 2vw;
    height: 2vw;
  }
  #soundRange{
    margin: 4vw;
    width: 40vw;

  }
  input[type=range]  {
    width: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    overflow: hidden;
    height: 3vw;
    border-radius : 2vw;
  }

  input[type=range]::-webkit-slider-runnable-track {
    height: 3vw;
    background-color: red;
  }

  input[type=range]::-webkit-slider-thumb {
    background: white;
    cursor: pointer;
    width:4vw;
    height: 4vw;
    -webkit-appearance: none;
    margin-top: -1vw;
    box-shadow: -200px  0 0 200px  green;

  }

  input[type=range]::-moz-range-track {
      height: 3vw;
      background-color: green;
  }


 input[type=range]::-moz-range-thumb {
    background: #ecf0f1;
    cursor: pointer;
    height: 3vw;
    border-radius:2vw;
    box-shadow: -40vw  0px 0px 40vw   #43e5f7;
    padding: 0px;
    margin: 0px;
  }
  .btnName{
    text-align: center;
    color: #333;
  }